<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<!--<span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified  __('Toggle Nav') */ ?></span></span>-->

<a href="<?= $block->getUrl('') ?>">
    <img class="logo_img" src="<?= /* @escapeNotVerified */ $block->getLogoSrc() ?>"
             alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
             <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
    <img src="<?php echo $this->getViewFileUrl('images/logo_text.png'); ?>" alt="logo_text">
</a>

