<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$homeUrl = $storeManager->getStore()->getBaseUrl(); 

$cmsPage = $objectManager->get('\Magento\Cms\Model\Page');
$cmsPageName =  $cmsPage->getIdentifier(); ?>


<div class="end_div touch_div">
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-get-in-touch')->toHtml(); ?>
</div>    

<div class="middle_div info_div">
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-information')->toHtml(); ?>
</div>

<div class="middle_div account_div">
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-my-account')->toHtml(); ?>
</div>

<div class="end_div payment_div">
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-payment-mode')->toHtml(); ?>
</div>        
   
    