<div class="latest_design_section">  	
    <div class="container">
        <h3>Latest Design Ideas</h3>
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="latest_design_box item">
                    <a href="#">
                        <div class="upper_section">
                            <figure>
                                <img src="<?php echo $this->getViewFileUrl('img/latest_design_img.png'); ?>" alt="" />
                            </figure>
                            <div class="day_tag">
                                <span>25</span><small>SEP</small>
                            </div>
                        </div>
                        <div class="bottom_section">
                            <div class="design_description">
                                <h4>MYDOG</h4>
                                <h2>PRISROSETTER & POKALER</h2>
                                <p>Lorem ipsum dolor amet consectetur adipiscing. Sed dui enim quis.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="latest_design_box item">
                    <a href="#">
                        <div class="upper_section">
                            <figure>
                                <img src="<?php echo $this->getViewFileUrl('img/latest_design_img.png'); ?>" alt="" />
                            </figure>
                            <div class="day_tag">
                                <span>17</span><small>MAY</small>
                            </div>
                        </div>
                        <div class="bottom_section">
                            <div class="design_description">
                                <h4>STOCKHOLMS KENNELKLUBB</h4>
                                <h2>PRISROSETTER</h2>
                                <p>Lorem ipsum dolor amet consectetur adipiscing. Sed dui enim quis.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="latest_design_box item">
                    <a href="#">
                        <div class="upper_section">
                            <figure>
                                <img src="<?php echo $this->getViewFileUrl('img/latest_design_img.png'); ?>" alt="" />
                            </figure>
                            <div class="day_tag">
                                <span>22</span><small>JAN</small>
                            </div>
                        </div>
                        <div class="bottom_section">
                            <div class="design_description">
                                <h4>NYGÅRDS RYTTARSÄLLSKAP</h4>
                                <h2>GJUTNA STALLPLAKETTER</h2>
                                <p>Lorem ipsum dolor amet consectetur adipiscing. Sed dui enim quis.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="latest_design_box item">
                    <a href="#">
                        <div class="upper_section">
                            <figure>
                                <img src="<?php echo $this->getViewFileUrl('img/latest_design_img.png'); ?>" alt="" />
                            </figure>
                            <div class="day_tag">
                                <span>25</span><small>SEP</small>
                            </div>
                        </div>
                        <div class="bottom_section">
                            <div class="design_description">
                                <h4>MYDOG</h4>
                                <h2>PRISROSETTER & POKALER</h2>
                                <p>Lorem ipsum dolor amet consectetur adipiscing. Sed dui enim quis.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="latest_design_box item">
                    <a href="#">
                        <div class="upper_section">
                            <figure>
                                <img src="<?php echo $this->getViewFileUrl('img/latest_design_img.png'); ?>" alt="" />
                            </figure>
                            <div class="day_tag">
                                <span>17</span><small>MAY</small>
                            </div>
                        </div>
                        <div class="bottom_section">
                            <div class="design_description">
                                <h4>STOCKHOLMS KENNELKLUBB</h4>
                                <h2>PRISROSETTER</h2>
                                <p>Lorem ipsum dolor amet consectetur adipiscing. Sed dui enim quis.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="latest_design_box item">
                    <a href="#">
                        <div class="upper_section">
                            <figure>
                                <img src="<?php echo $this->getViewFileUrl('img/latest_design_img.png'); ?>" alt="" />
                            </figure>
                            <div class="day_tag">
                                <span>22</span><small>JAN</small>
                            </div>
                        </div>
                        <div class="bottom_section">
                            <div class="design_description">
                                <h4>NYGÅRDS RYTTARSÄLLSKAP</h4>
                                <h2>GJUTNA STALLPLAKETTER</h2>
                                <p>Lorem ipsum dolor amet consectetur adipiscing. Sed dui enim quis.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="latest_design_box item">
                    <a href="#">
                        <div class="upper_section">
                            <figure>
                                <img src="<?php echo $this->getViewFileUrl('img/latest_design_img.png'); ?>" alt="" />
                            </figure>
                            <div class="day_tag">
                                <span>25</span><small>SEP</small>
                            </div>
                        </div>
                        <div class="bottom_section">
                            <div class="design_description">
                                <h4>MYDOG</h4>
                                <h2>PRISROSETTER & POKALER</h2>
                                <p>Lorem ipsum dolor amet consectetur adipiscing. Sed dui enim quis.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="latest_design_box item">
                    <a href="#">
                        <div class="upper_section">
                            <figure>
                                <img src="<?php echo $this->getViewFileUrl('img/latest_design_img.png'); ?>" alt="" />
                            </figure>
                            <div class="day_tag">
                                <span>17</span><small>MAY</small>
                            </div>
                        </div>
                        <div class="bottom_section">
                            <div class="design_description">
                                <h4>STOCKHOLMS KENNELKLUBB</h4>
                                <h2>PRISROSETTER</h2>
                                <p>Lorem ipsum dolor amet consectetur adipiscing. Sed dui enim quis.</p>
                            </div>
                        </div>
                    </a>	
                </div>

                <div class="latest_design_box item">
                    <a href="#">
                        <div class="upper_section">
                            <figure>
                                <img src="<?php echo $this->getViewFileUrl('img/latest_design_img.png'); ?>" alt="" />
                            </figure>
                            <div class="day_tag">
                                <span>22</span><small>JAN</small>
                            </div>
                        </div>
                        <div class="bottom_section">
                            <div class="design_description">
                                <h4>NYGÅRDS RYTTARSÄLLSKAP</h4>
                                <h2>GJUTNA STALLPLAKETTER</h2>
                                <p>Lorem ipsum dolor amet consectetur adipiscing. Sed dui enim quis.</p>
                            </div>
                        </div>
                    </a>	
                </div>
            </div>
        </div>
    </div>
</div>