<div class="banner_section">
        <div class="bxslider">
                <div><img src="<?php echo $this->getViewFileUrl('images/banner_1.png'); ?>" title=""></div>
                <div><img src="<?php echo $this->getViewFileUrl('images/banner_2.png'); ?>" title=""></div>
                <div><img src="<?php echo $this->getViewFileUrl('images/banner_3.png'); ?>" title=""></div>
        </div>
        <div class="banner_text">
                <h2>WHO ARE WE</h2>
                <p> Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. </p>
        </div>
</div>