<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeInformation = $objectManager->create('Magento\Store\Model\Information');
    $store = $objectManager->create('Magento\Store\Model\Store');
    $storeInfo = $storeInformation->getStoreInformationObject($store);
    $storePhone = $storeInfo->getPhone();
    
    
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $baseUrl = $storeManager->getStore()->getBaseUrl(); 
    
    $customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>


<div class="top">
    <div class="pull-left menu-left country_tag">
        <ul>
            <li>
                <a href="#"><img src="<?php echo $this->getViewFileUrl('images/en.png'); ?>" alt="flag"></a>
            </li>
            <li>
                <a href="#"><img src="<?php echo $this->getViewFileUrl('images/german.png'); ?>" alt="flag"></a>
            </li>
            <li>
                <a href="#"><img src="<?php echo $this->getViewFileUrl('images/italian.png'); ?>" alt="flag"></a>
            </li>
            <li>
                <?php //echo $this->getLayout()->createBlock('Magento\Directory\Block\Currency')->setTemplate('Magento_Directory::currency.phtml')->toHtml(); ?>
                <select>
                    <option value="">USD</option>
                    <option value="">INR</option>
                    <option value="">EURO</option>
                </select>
            </li>
        </ul>
    </div>

    
    <div class="pull-right menu-right">
        <ul class="list-unstyled list-inline">
            <li><a class="create_account" href="<?php if($customerSession->isLoggedIn()) { echo $baseUrl .'customer/account'; } else { echo $baseUrl .'customer/account/login'; } ?>"><i class="fa fa-user-plus"></i><span><?php if($customerSession->isLoggedIn()) { echo $customerSession->getCustomer()->getFirstname(); } else { ?><?= /* @escapeNotVerified */ __('Create an Account or Login') ?><?php } ?></span></a></li>
            <!--<li><?php //echo $this->getLayout()->createBlock("Magento\Checkout\Block\Cart\Sidebar")->setTemplate("Magento_Checkout::cart/minicart.phtml")->toHtml(); ?></li>-->
            <li><a class="cart_link" href="#"><img src="<?php echo $this->getViewFileUrl('images/cart.png'); ?>" alt="cart"><span class="cart_item">0</span></a></li>
        </ul>
    </div>
</div>