<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="copyright_text">
    <p><?= /* @escapeNotVerified */ $block->getCopyright() ?></p>
</div>
