<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $_homeUrl = $storeManager->getStore()->getBaseUrl();
    
    //Database connection 
    $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
    $connection = $resource->getConnection();
    $tableName = $resource->getTableName('ws_liveex_wine_records');
    
?>

<style>
    .search-box{
        width: 300px;
        position: relative;
        display: inline-block;
        font-size: 14px;
    }
    .search-box input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
    }
    .result{
        position: absolute;        
        z-index: 999;
        top: 100%;
        left: 0;
        background: #5c1e3f;
        color: #fff;
        text-align: left;
    }
    .search-box input[type="text"], .result{
        width: 100%;
        box-sizing: border-box;
    }
    /* Formatting result items */
    .result p{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
    }

</style>


<!-- breadcrumb start here -->
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?php echo $_homeUrl; ?>">Home</a></li>
            <li><a href="JavaScript:void(0);">Wine Searcher</a></li>
        </ul>
    </div>

<!-- breadcrumb start here -->

<!-- Center navbar section start here -->
<section class="CenterNavWrap">
    <div class="container">
        <div class="CenterNavOuter">
            <div class="sm-visible xs-hidden toggle-outer-btn sidenav">
                <span style="font-size:30px;cursor:pointer" class="visible-xs" onclick="openNav()">&#9776;</span>	
                <div class="CenterNavInner sidenav"  id="mySidenav">
                    <a href="javascript:void(0)" class="closebtn xs-visible" onclick="closeNav()">&times;</a>
                    
                        <ul class="DropdownOuter">
                            <li class="dropdown search-box">
                                <input type="text" name="wine_name" class="wine-name" id="wine-name" autocomplete="off" placeholder="Wine Name" style="border: 0px solid #000; border-right: 1px solid #000; color: #6d6d6d; font-size: 14px; padding: 5px 25px; background: none; "/>    
                                <div class="result"></div>    
                                <!--<a href="#" class="dropdown-toggle" role="button" data-toogle="dropdown" aria-expanded="false">Wines name<span class="fa fa-caret-down"></span></a>
                                <ul class="dropdown-menu">

                                        <li><a href="#">Wine 1</a></li>
                                        <li><a href="#">Wine 2</a></li>
                                        <li><a href="#">Wine 3</a></li>
                                        <li><a href="#">Wine 4</a></li>
                                        <li><a href="#">Wine 5</a></li>
                                </ul>-->    
                            </li>

                            <li class="dropdown">
                                <a href="JavaScript:void(0);" class="dropdown-toggle" role="button" data-toogle="dropdown" aria-expanded="false">Vintage <span class="fa fa-caret-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Wine 1</a></li>
                                    <li><a href="#">Wine 2</a></li>
                                    <li><a href="#">Wine 3</a></li>
                                    <li><a href="#">Wine 4</a></li>
                                    <li><a href="#">Wine 5</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="JavaScript:void(0);" class="dropdown-toggle" role="button" data-toogle="dropdown" aria-expanded="false">Wine Makers <span class="fa fa-caret-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Wine 1</a></li>
                                    <li><a href="#">Wine 2</a></li>
                                    <li><a href="#">Wine 3</a></li>
                                    <li><a href="#">Wine 4</a></li>
                                    <li><a href="#">Wine 5</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="JavaScript:void(0);" class="dropdown-toggle" role="button" data-toogle="dropdown" aria-expanded="false">Price/Bottle <span class="fa fa-caret-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Wine 1</a></li>
                                    <li><a href="#">Wine 2</a></li>
                                    <li><a href="#">Wine 3</a></li>
                                    <li><a href="#">Wine 4</a></li>
                                    <li><a href="#">Wine 5</a></li>
                                </ul>
                            </li>
                            <li class="dropdown OrderButton">
                                <input id="wine_submit" type="submit" name="order_submit" value="Order" onclick="wineSearch()">
                            </li>
                        </ul>
                    
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Center navbar section start here -->
<!-- Content Setion start here -->
<section class="content_section content_section_display" style="display:none;">
    <div class="container">
		<div class="heading-text">
			<h3>search result</h3>
		</div>
		<div class="blogOuter">
			<div id="searchResultdata" class="BlogInner">
                        </div>
                </div>
    </div>
</section>
<section id="content_section" class="content_section">
	<div class="container">
		<div class="heading-text">
			<h3>recent searches</h3>
		</div>
		<div class="blogOuter">
			<div class="BlogInner">
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="/action_page.php" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="/action_page.php" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="/action_page.php" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="/action_page.php" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="/action_page.php" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="/action_page.php" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="/action_page.php" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="/action_page.php" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="/action_page.php" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
				<div class="blog-item-outer">
					<div class="blog-item-img">
						<img src="<?php echo $this->getViewFileUrl('images/img-item.png'); ?>">
					</div>
					<div class="blog-text">
						<h5>A. Rousseau</h5>
						<p><span class="lavel-item"> Wine:</span> <span class="brand-item"> Chambertin</span></p>
						<p><span class="lavel-item"> Wine Vintage:</span> <span class="brand-item"> 25 Years Old</span></p>
						<div class="item-price">$240.00</div>
						<form action="" method="get">
							<input type="submit" value="Order Now">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<script>
    function getWineName(name) {
        jQuery('#wine-name').val(name);
        jQuery(".result").empty();
    }
    
    function wineSearch() {  
        var winename = document.getElementById("wine-name").value;
        jQuery.ajax({
            type: "POST", //request type
            url:"wine.php", //the page containing php script
            data: {"wine-name": winename},
            success:function(result){
                jQuery("#content_section").hide();
                jQuery(".content_section_display").css('display','block');;
                jQuery('#searchResultdata').html(result);
            }
       });
    }
</script>