<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<div class="login-box-wrap">
    <div class="login-box-inner">
        <div class="login-top-text">
            <p><?= $block->escapeHtml(__('Please enter your email address below to receive a password reset link.')) ?></p>
            <div class="login-form-outer">
                <form class="form password forget"
                      action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
                      method="post"
                      id="form-validate"
                      data-mage-init='{"validation":{}}'>
                    <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                        <div class="field email required">
                            <input type="email" name="email" placeholder="<?= $block->escapeHtml(__('Email')) ?>" alt="email" id="email_address" class="input-text" value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" data-validate="{required:true, 'validate-email':true}">
                        </div>
                        <?= $block->getChildHtml('form_additional_info') ?>
                    </fieldset>
                    <div class="submit-btn-a">
                        <a><button type="submit"><?= $block->escapeHtml(__('Reset My Password')) ?></button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
