<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>


<h5 role="heading" aria-level="2"><?= $block->escapeHtml(__('Login Using Social Authentication')) ?></h5>
<div class="social-main-outer">
    <ul class="login-icon">
            <li><a href="#"><span class="fa fa-facebook-official"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter-square"></span></a></li>
            <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
    </ul>
</div>
<span class="devide text-center"><?= $block->escapeHtml(__('OR')) ?></span>
<h5><?= $block->escapeHtml(__('Login with your E-mail Address ')) ?></h5>
<div class="login-form-outer" aria-labelledby="block-customer-login-heading">
    <form class="form form-login"
          action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
          method="post"
          id="login-form"
          data-mage-init='{"validation":{}}'>
        <?= $block->getBlockHtml('formkey') ?>
        <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
            <div class="field email required">
                <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" placeholder="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
            </div>
            <div class="field password required">
                <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" placeholder="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
            </div>
            <?= $block->getChildHtml('form_additional_info') ?>
            <div class="forgot-pass">
                <a href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>" class="forgot"><?= $block->escapeHtml(__('Forgot Password?')) ?></a>
            </div>
            <div class="sign-btn-a">
                <a><button type="submit" name="send" id="send2"><?= $block->escapeHtml(__('Sign In')) ?></button></a>
            </div>
        </fieldset>
    </form>
</div>

