@media only screen and (min-width:1601px){

.main_footer{max-width:1200px;margin:0 auto;float:none;padding: 65px 40px;}
.wine_section{max-width:1200px;margin:0 auto;}
.banner_section .banner_text{height:15%;}
}


@media only screen and (max-width:1366px){
.main_footer{padding:65px 50px;}
.banner_section .banner_text{top:25%;height:55%;}
.wine_section .our_wine .overlay_text{padding: 160px 0}
.sm-visible {display: block; }
.blog-item-outer {
    width: 48.9%;
}
p.lavel-outer{margin-top: 5px;}
.blog-item-outer:nth-child(odd) {
    margin-right: 12px;
}
.blog-item-outer:nth-child(even) {
    margin-left: 12px;
}

}

@media only screen and (max-width:1199px){
    .blog-item-outer {width: 49%; }
    .blog-text p{font-size: 18px;margin-top: 12px;}
.blog-text h5, .blog-text .item-price{font-size: 20px; margin-bottom: 10px;}
.main_footer{padding:65px 30px;}
.main_footer .middle_div ul{padding-right: 20px; padding-left: 20px;}
.blog-item-outer:nth-child(even) {
    margin-left: 9px;
}.blog-item-outer:nth-child(odd) {
    margin-right: 10px;
}
.wine_section .our_wine, .wine_section .other_wine{width: 47%; margin: 0 14px;}

}
@media only screen and (max-width:991px){
.leftOuter, .P-Right-outer{width: 100%; margin: 0; margin: 0;
    padding: 0;}
h1.Heading-text{margin-top: 20px;}
.wine_section .our_wine .overlay_text{padding: 100px 0}
.sm-visible {display: block;}
.wine_facts ul li{padding:5px 10px;}
.wine_section .our_wine, .wine_section .other_wine{width: 46%; margin: 0 10px 0 17px;}
.main_footer{padding:50px 15px;}
.main_footer .end_div, .main_footer .middle_div{width:50%;}
.main_footer .middle_div ul{padding:35px 100px 55px 0;}
.main_footer .end_div.payment_div{padding-left:0;}
ul.DropdownOuter li a{padding: 0;}
li.dropdown, .OrderButtton {width: calc(100%/5 - 4px); }
li.OrderButton {max-width: 100%; }
.visible-xs{display: none;}
ul.DropdownOuter li a{padding: 0; border: 0;}
ul.DropdownOuter li a .fa {margin-left: 15px; }
ul.dropdown-menu li {display: block; width: 100%; }
li.OrderButton input{width: 165px;}
.blog-text{width: 62%;}
.blog-text h5, .blog-text .item-price{font-size: 20px;margin-bottom: 0px;}
.blog-text p{font-size: 15px;margin-top: 5px;}
.blog-text input[type="submit"]{min-height: 30px;font-size: 14px;}
.blog-item-img{width: 38%;}
.blog-item-outer {
    width: 48%;
}
.blog-item-outer:nth-child(odd) {
    margin-right: 15px;
}
.blog-item-outer:nth-child(even) {
    margin-left: 14px;
}
ul.DropdownOuter li.dropdown {
    width: 19.7%;
    padding: 25px 0px;
}

li.OrderButton input{width: 150px;}

.name-page .blog-text {
    width: 60%;
}
.name-page .blog-text h5{margin-bottom: 0px; font-size: 18px;}
.name-page .blog-text p{line-height: 20px; font-size: 14px; margin-bottom: 5px; line-height: 20px;}
p.lavel-outer{font-size: 18px !important;}
.name-page .blog-text .item-price {font-size: 18px !important; margin-bottom: 5px;}
.name-page .blog-item-img{width: 40%}



}


@media only screen and (max-width:767px){
.blog-item-outer{margin: 19px 0;}
ul.DropdownOuter li.dropdown {width: 100%; padding: 25px 5px; }
.visible-xs{display: block;}
a.closebtn.xs-visible {display: block; }
.wine_section .our_wine .overlay_text{padding: 80px 0;}
header .middle a img.logo_img{width:35%;}
header .top .menu-right ul li a.create_account{border:none;padding:0 5px;}
header .top .menu-right ul li a i{display:block;}	
header .top .menu-right ul li a span{display:none;}

header .middle{margin-top:20px;}
header .top .menu-right ul li{padding:0 10px;}
header .top .menu-right ul li a.create_account:after{top:0;}
header .top .menu-right ul li a.cart_link{padding-top:0;}
header .top .menu-right ul li a span.cart_item{right:0px;top: 8px; width: 15px; height: 15px;font-size:10px;}

.banner_section .banner_text h2{font-size:32px;}
.banner_section .banner_text p{font-size:16px;line-height:24px;}
.wine_facts ul{padding:20px 0 5px;}
.wine_facts ul li{width:50%;padding:5px 50px;position:relative; margin-bottom: 15px}
.wine_facts ul li:nth-child(even):after{display:none;}

.wine_section .our_wine, .wine_section .other_wine {width: 45%; margin: 0 5px 0 18px;}

.main_footer .end_div, .main_footer .middle_div{width:100%;padding:0 35px 35px;}
.main_footer .end_div.payment_div{padding-left:35px;}
.main_footer .middle_div ul{padding-bottom: 25px;}
.overlay_text h3{font-size: 35px;}
.CenterNavInner {height: auto; width: 100%; position: relative; left: 0; display: none; }
a.closebtn {float: right; background: #ddd; padding: 0px; width: 30px; border-radius: 50%; margin-top: -10px; margin-right: -10px; font-size: 25px; height: 30px; color: #000; text-align: center; }
ul.DropdownOuter li{width: 100%; padding: 25px 5px; text-align: center}
li.OrderButton input{width: 150px;}
li.OrderButton input{border-radius: 40px;}
ul.dropdown-menu{left:0;}
.blog-item-outer {width: 100%; }
.dropdown-menu li{padding: 15px 0px !important;}
body{overflow-x: hidden;}
.sm-visible{display: block;}
ul.DropdownOuter{padding-left: 20px; padding-bottom: 22px; width: 100%; text-align: left; }
li.OrderButton{padding-bottom: 25px !important;}
li.OrderButton input{padding: 12px 0;}
.sidenav {text-align: right; }
.blog-text h5, .blog-text .item-price {font-size: 35px; margin-bottom: 0px; }
.blog-text p{font-size: 25px; margin-top: 10px;}
h1.Heading-text{font-size: 25px;}
.owl-nav.disabled{top: 35%}
.name-page .blog-item-img {
    width: 100%;
}
.name-page .blog-item-img img{
    width: 100%;
}
.name-page .blog-text {
    width: 100%;
    padding-left: 0;
    margin-top: 15px;
}
.login-box-inner{
    padding: 50px 15px;
}


}


@media only screen and (max-width:567px){
    .blog-item-outer {width: 100%; }
    .blog-text, .blog-item-img {width: 100%; }
.blog-text h5, .blog-text .item-price {font-size: 25px; margin-bottom: 5px; }
.blog-text p{font-size: 18px; margin-top: 10px; }
.blog-text{padding-left: 0;}
.blog-text{margin-top: 15px;}
.sm-visible{display: block;}
header .middle a img{width:80%;}
header .middle a img.logo_img{width:20%;}
.banner_section .banner_text{display:none;}
.wine_section .our_wine, .wine_section .other_wine{float:left;width:100%;margin: 0 auto 15px;}
.wine_section{padding:40px 35px 30px;}
.wine_facts ul li{width:100%;padding:5px 50px;position:relative; margin-bottom: 15px}
.wine_facts ul li:after{display:none;}
.main_footer .end_div, .main_footer .middle_div{width:100%;padding:0 5px 35px;}


}



@media only screen and (max-width:480px){
 .blog-text{text-align: left;}
 .blog-text{text-align: left; width: 100%;}
 .blog-item-img img {width: 100%; }
 .blog-item-img {width: 100%;}
.blog-text h5, .blog-text .item-price {font-size: 25px; margin-bottom: 5px; }
.blog-text p{font-size: 18px; margin-top: 10px; }
.blog-text{padding-left: 0;}
.blog-text{margin-top: 15px;}

}