<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
<?php $_product = $block->getProduct() ?>

<?php if ($block->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
        <span class="light"><?= /* @escapeNotVerified */ __('Availability : ') ?></span>
        <span class="dark"><?= /* @escapeNotVerified */ __('In Stock') ?></span>
    <?php else: ?>
        <span class="light"><?= /* @escapeNotVerified */ __('Availability : ') ?></span>
        <span class="dark"><?= /* @escapeNotVerified */ __('Out of stock') ?></span>
    <?php endif; ?>
<?php endif; ?>
