* {margin: 0;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;font-family:'Arial', sans-serif;}
img {max-width:100%;}
a,a:hover {display: inline-block;text-decoration: none;}
a:focus {outline: 0;text-decoration: none;}
.zero-padding {padding: 0;}
.no-margin {margin: 0;}
.text-underline {text-decoration: underline;}
.full-width {float: left;width: 100%;}
.btn-group:focus{outline:none;}
.btn-group{padding:0;}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle{box-shadow: none;outline:0;}
ul{margin-bottom:0;}
.btn{border-radius: 0;}
.dropdown-menu{padding:0;}
p{margin:0;}
.list-inline{margin-left:auto;}
.list-unstyled{list-style: none;}
.list-inline{float:left;}
.visible-xs{display: none;}
ul.dropdown-menu li {
    display: block;
    width: 100%;
}
ul li{float: left;}
.wrapper{background: url(../images/bg.png);background-size: contain;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.container{max-width:100%;width:1330px;margin: 0 auto; padding-left: 15px; padding-right: 15px;}
/*header  */
header{padding:15px 10px;border-bottom: 1px solid;border-color: rgba(137,135,135,0.3);float: left;width:100% }
.col-md-1 ,.col-md-2 ,.col-md-3 ,.col-md-4 ,.col-md-5 ,.col-md-6 ,.col-md-7 ,.col-md-8 ,.col-md-9 ,.col-md-10 ,.col-md-11 ,.col-md-12{float:left;}
/* .col-xs-1 ,.col-xs-2 ,.col-xs-3 ,.col-xs-4 ,.col-xs-5 ,.col-xs-6 ,.col-xs-7 ,.col-xs-8 ,.col-xs-9 ,.col-xs-10 ,.col-xs-11 ,.col-xs-12{float: left;} */

section{float: left;width:100%;}

header{background-color:#5c1e3f;}
header .middle{float:left;width:100%;text-align:center;margin-top: -30px;}
header .middle img{display:block;margin:0 auto;}
header .middle img:first-child{padding-bottom:35px;}

header .top .country_tag ul li{list-style-type:none;padding:0 5px;}
header .top .country_tag ul li select {-webkit-appearance:none;-ms-appearance:none;-moz-appearance:none;color:#ffffff;padding:2px 3px;background-color:#5c1e3f;border:1px solid #ffffff; background-image:url('../images/select_arrow.png');background-position:96% 38%;background-repeat:no-repeat;}

header .top .menu-right ul li{padding:0 20px;position: relative;}
header .top .menu-right ul li a.create_account{color:#ffffff;border:2px solid #ffffff;border-radius:35px; padding: 10px 25px;display:block;}
header .top .menu-right ul li a i{display:none;}
header .top .menu-right ul li a.create_account:hover{background-color:#ffffff;color:#5c1e3f;}
header .top .menu-right ul li a.create_account:after{position:absolute;content:'';width:1px;height:20px;background-color:#ffffff;right:0;top:12px;}
header .top .menu-right ul li a span.cart_item{font-size:14px;text-align:center;color:#ffffff;position: absolute;display:block;top:14px;right:8px;width:20px;height:20px;border-radius:50%;background-color:#309742;padding-top:2px;}
header .top .menu-right ul li a.cart_link{padding-top:4px;}

.banner_section{float:left;width:100%;position: relative;}
.banner_section .banner_text{position:absolute;width:75%;height:42%;padding:35px 20px;background-color:rgba(0,0,0,0.5);top:40%;bottom:30%;left:0;right:0; margin:0 auto;text-align: center;overflow: auto;}
.banner_section .banner_text h2{font-size:70px;color:#ffffff;}
.banner_section .banner_text p{font-size:18px;color:#ffffff;font-weight:300;line-height:32px;}
.banner_section .bxslider {width: 100%;}
.banner_section .bx-wrapper{border:0;margin-bottom:0;}
.banner_section .bx-wrapper img{width:100%;}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{bottom:30px;}
.bx-wrapper .bx-pager.bx-default-pager a{background-color:transparent;border:1px solid #ffffff;}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #ffffff;}


.wine_section{float:left;width:100%;padding: 60px 0; display: block;}
.wine_section .our_wine, .wine_section .other_wine{float:left;width:48%;margin:0 10px;position:relative;}
.wine_section .our_wine img, .wine_section .other_wine img{display:block;}
.wine_section .our_wine .overlay_text{position:absolute;width:100%;height:auto; transition: .5s ease; opacity:0; background-color: rgba(115, 64, 87, 0.76);top:0;left:0;padding:180px 0;text-align: center;}
.wine_facts{float:left;width:100%;}
.wine_facts ul{float:left;width:100%;border-top:2px solid #cbcbcb;padding:20px 0;}
.wine_facts ul li{float:left;width:25%;padding:5px 35px;position:relative;}
.wine_facts ul li:after{position:absolute;content:'';width:1px;height:60px;background-color:#cbcbcb;right:0;top:0;}
.wine_facts ul li:last-child:after{display:none;}
.wine_facts  ul li span.fact_img{float:left;width:25%;padding:0;text-align: center;}
.wine_facts  ul li span{float: left; width:75%;padding: 10px 0 0 15px;color:#4c4c4c;}

footer{background-color:#5c1e3f;float:left;width:100%;}
.main_footer{float:left;width:100%;padding:65px 150px;}
.main_footer .end_div{float: left;width:30%;}
.main_footer .end_div h3{color:#ffffff;}
.main_footer .end_div ul{float: left; width: 100%; padding-top: 35px;}
.main_footer .end_div ul li{float:left;width:100%;padding:15px 5px;}
.main_footer .touch_div ul li img{float:left;}
.main_footer .touch_div ul li span{float: left; width:65%;padding: 12px 0 0 15px;color:#ffffff;}

.main_footer .middle_div{float: left;width:20%;}
.main_footer .middle_div h3{color:#ffffff;}
.main_footer .middle_div ul{float: left; width: 100%;padding: 35px 60px 0 0;}
.main_footer .middle_div ul li{float:left;width:100%;padding:15px 5px;border-bottom:2.2px dotted #642949;}
.main_footer .middle_div ul li a{color:#ffffff;}

.main_footer .end_div.payment_div{padding-left: 60px;}

.copyright_text{float:left;width:100%;}
.copyright_text p{color:#5c1e3f;background-color:#ffffff;padding:25px 0;text-align:center;}
.our_wine:hover .overlay_text{opacity: 1; transition: 2s; height: 100%; bottom: 0;}
.onload-text{text-align: center; position: absolute; width: 100%; top: 50px; font-family: 'Conv_Allura-Regular';
 }
 .onload-text h3{font-family: 'Conv_Allura-Regular'; font-size: 49px; color:#fff; position: relative;}
 .onload-text h3:before{position: absolute; content: ""; display: block; height: 7px; width: 7px; border-radius: 50%; bottom: -4px; right:0; left:0; margin: 0 auto; text-align: center; background: #fff;}
 .onload-text h3:after{width: 230px; right: 0; left:0; margin: 0 auto; border-bottom: 2px solid #fff; position: absolute; bottom: :10px; content: ""; display: block;}
.overlay_text h3{font-family: 'Conv_Allura-Regular'; font-size: 49px; color:#fff;}
.our_wine:hover .onload-text h3{display: none;}
.overlay_text a{border: 1px solid #fff; padding: 5px 30px; border-radius: 20px; color:#fff; font-family: 'Conv_AvenirLTStd-Light'; font-size: 18px; margin-top: 20px;}
ul.breadcrumb {
    padding: 30px 0px;
    list-style: none;
    width: 100%;
    float: left;
}
.visible-xs{display: none}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
a.closebtn.xs-visible {
    display: none;
}
ul.breadcrumb li:last-child a{
	color:#5c1e3f;
}
ul.breadcrumb li a {
    color: #000;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.CenterNavOuter {
    width: 945px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    display: block;
    position: relative;
}
.CenterNavInner {
    width: 100%;
    float: left;
    background: #f3f3f3;
    border: 10px solid #ddd;
    border-radius: 50px;
    padding: 0;
    height: 90px;
}
ul.DropdownOuter {
    list-style-type: none;
}
ul.DropdownOuter li a {
    color: #6d6d6d;
    font-size: 14px;
    border-right: 1px solid #000;
    padding: 5px 25px;
}
ul.DropdownOuter li {
    float: left;
    position: relative;
    padding: 21px 5px;
}
ul.dropdown-menu {
    display: none;
}
ul{list-style-type: none;}

ul.dropdown-menu li {
    display: block;
    float: left;
    width: 100%;
}
ul.DropdownOuter li a .fa {
    margin-left: 35px;
}
ul.dropdown-menu {
    width: 100%;
    position: absolute;
    left: 0;
}
li.OrderButton {
    padding: 0 !important;
}
li.OrderButton input {
    width: 255px;
    overflow: hidden;
    z-index: 1;
    padding: 23px 0;
    margin: 0 !important;
    border: 0;
    background: #000;
    color: #fff;
    font-size: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
ul.DropdownOuter li:nth-child(4) a {
    border: 0;
}
ul.dropdown-menu {
    width: 100%;
    position: absolute;
    left: 25px;
    z-index: 99999999999;
    top: 70px;
    background: #5C1E3F;
    color: #fff;
}

.heading-text h3{
	font-size: 30px;
	text-transform: uppercase;
	color:#000;
	text-align: center;
}
.heading-text{
	margin-top: 70px;
	margin-bottom: 50px;
	width: 100%;
	text-align: center;
	float: left;
}

.blog-item-outer {
    width: 48.8%;
    float: left;
    padding: 20px 15px;
    border: 1px solid #e5e5e5;
    margin: 19px 0;
}
.blog-item-outer:nth-child(even) {
    margin-left: 14px;
}
.blog-item-outer:nth-child(odd) {
    margin-right: 14px;
}
.blogOuter {
    width: 100%;
    float: left;
}
.blog-item-img {
    width: 42%;
    float: left;
}
.blog-text {
    width: 58%;
    height: 100%;
    float: left;
    display: block;
    padding-left: 15px;
}
.blog-text h5, .blog-text .item-price {
    font-size: 30px;
    color: #5c1e3f;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.blog-text .item-price{
	color:#000;
}
.blog-text p {
    color: #000;
    font-size: 25px;
    color: #474747;
    margin-top: 10px;
}
.item-price{margin-top: 12px; color:#000;}
.blog-text input[type="submit"] {
    min-height: 54px;
    padding: 0 17px;
    background: #063956;
    color: #fff;
    font-size: 17px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}
ul.dropdown-menu li a {
    color: #fff;
    text-align: left;
    padding: 0;
    border: 0;
    margin: 0;
}
ul.dropdown-menu li {
    margin: 0;
    padding: 10px;
    text-align: left;
}
.sm-visible {display: block;}

/*Produver Detail Page start here*/

.leftOuter {
    width: 44%;
    position: static;
    height: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
.P-Right-outer {
    width: 56%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.OwlContentInner {
    position: relative;
    top: 0px;
    width: 100%;
    float: left;
}
button.owl-dot:first-child {
    background: url(../images/s-caro1.png);
    content: "";
    display: inline-block;
    max-width: 100%;
    background-position: 100%;
    background-size: cover;
}
.owl-dots {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px
}
.owl-dots .owl-dot{width: calc(100%/6 - 10px); padding: 0 5px; background-size: cover; min-height: 86px; border: 1px solid grey !important;}
button.owl-dot{width: 70px; height:70px; margin: 0 5px; background-size: cover;}
button.owl-dot:nth-child(2){
    background: url(../images/s-caro1.png);
    background-size: cover;
}
button.owl-dot:nth-child(3){
    background: url(../images/s-caro1.png);
    background-size: cover;
}
button.owl-dot:nth-child(4){
    background: url(../images/s-caro1.png);
    background-size: cover;
}
button.owl-dot:nth-child(5){
    background: url(../images/s-caro1.png);
    background-size: cover;
}
button.owl-dot:nth-child(6){
    background: url(../images/s-caro1.png);
    background-size: cover;
}
button.owl-next {
    float: right;
    transform: scale(4);
    margin-right: 30px;
}
button.owl-prev {
    float: left;
    transform: scale(4);
    margin-left: 30px;
}
.owl-nav.disabled {
    width: 100%;
    position: absolute;
    top: 50%;
}
.owl-dot{background-size:cover;}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
     display: inline-block; 
}
h1.Heading-text {
    color: #5c1e3f;
    font-size: 40px;
    font-family: 'Conv_Avenir-LT-Std-45-Book_5171';
    margin-bottom: 20px;
}
.About_text p {
    font-size: 20px;
    font-family: 'Conv_Avenir-LT-Std-45-Book_5171';
    line-height: 25px;
}
span.title-text {
    color: #5c1e3f;
}
.About_text {
    margin-bottom: 20px;
}

h2.Heading-text {
    font-size: 25px;
    color: #474747;
     font-family: 'Conv_Avenir-LT-Std-45-Book_5171';
     margin-bottom: 20px;
}
p.long-text a {
    color: #5c1e3f;
    text-decoration: underline;
    margin-top: 20px;
}
.mainText p {
    font-size: 16px;
    font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';
    color: #676767;
    margin-bottom: 30px;
    line-height: 25px;
}
.branch_story p {
    margin-bottom: 0;
    font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';
    font-size: 18px;
    color: #262626;
}
.branch_story{margin-bottom: 30px}
.head-title {
    font-size: 25px;
    color: #010101;
    margin-bottom: 20px;
}
h4.title-text {
    font-size: 20px;
    color: #5c1e3f;
    line-height: 25px;
}
h5.ver {
    font-size: 18px;
    color: #309742;
    font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';
}
.owl-nav.disabled .owl-prev:focus, .owl-nav.disabled .owl-next:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}
.branch_story span {
    font-weight: 600;
    color: #262626;
}
.ContentSection {
    width: 100%;
    float: left;
}
.name-page .blog-item-outer{
    width: 100%;
}
.name-page .blog-item-img {
    width: 32%;
    float: left;
}
.name-page .blog-text{
    width: 68%;
}
.blog-text h5, .blog-text .item-price{
    font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';
}
.name-page .blog-text p{
    font-size: 16px;
    color:#676767;
    line-height: 25px;
     font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';
}
p.lavel-outer{
    font-size: 25px !important;
    color:#474747 !important;
    font-family: 'Conv_Avenir-LT-Std-45-Book_5171' !important;
    margin-top: 20px;
}
p.lavel-outer span{
    color:#5c1e3f !important;
}
del {
    font-size: 18px;
    color: #b0b0b0;
}
.blog-text input[type="submit"]{
    font-family: 'Conv_Avenir-LT-Std-45-Book_5171'
}
li.OrderButton input:focus{
    outline: 0;
}
.producer .our_wine{
    margin-bottom: 30px;
}
.V_btn a:hover {
    background: #5c1e3f;
    color: #fff;
}
.V_btn a {
    color: #5c1e3f;
    border: 2px solid #5c1e3f;
    border-radius: 30px;
    padding: 15px 20px;
    font-size: 18px;
    font-family: 'Conv_AvenirLTStd-Light';
    margin-top: 30px;
}
.owl-carousel .owl-item img{width: auto; text-align: center; margin: 0 auto;}