<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <ul>
        <?php if ($block->shouldRenderQuantity()): ?>
            <li><span class="text-head"><?= /* @escapeNotVerified */ __('Qty:') ?></span></li>
            <li>
                <div class="input-group spinner quantity">
                    <input type="number" min="1" max="9" step="1"
                           name="qty"
                           id="qty"
                           value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                           title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                           class="input-text qty form-control"
                           data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                           />
                    <!-- <div class="input-group-btn-vertical">
                        <button class="btn btn-default" type="button"><i class="fa fa-chevron-up"></i></button>
                        <button class="btn btn-default" type="button"><i class="fa fa-chevron-down"></i></button>
                    </div> -->
                </div>
            </li>    
        <?php endif; ?>
        <li>    
            <button type="submit"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart add-cart"
                    id="product-addtocart-button">
                <?= /* @escapeNotVerified */ $buttonTitle ?>
            </button>
        </li>    
        <?= $block->getChildHtml('', true) ?>
    </ul>    

<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>
