<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
?>
<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="wine-veri">
        <ul>
            <?php foreach ($_additional as $_data): ?>
                <li>
                    <span class="p-v"><?= $block->escapeHtml(__($_data['label'])) ?> : </span>
                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
                </li>
                <li class="divide">|</li>
            <?php endforeach; ?>
        </ul>    
    </div>
<?php endif;?>
