<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_title = $block->getLayout()->getBlock('page.main.title')->getPageTitle();

$_product = $block->getProduct();

$productUrl = $_product->getProductUrl();
$description = urlencode($_product->getDescription());
$name = urlencode($_product->getName());

$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');

$image = urlencode($imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(250, 250)->getUrl());

?>

<div class="social-share">
    <ul>
        <li><?= /* @escapeNotVerified */ __('share:') ?></li>
        <li><a href="javascript:void();" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<?php echo $productUrl; ?>&t=<?php echo $name ?>','facebook','width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes')"><span class="fa fa-facebook"></span></a></li>
        <li><a href="javascript:void();" onclick="window.open('http://twitter.com/home/?status=<?php echo urlencode($_title . ' ' . $productUrl); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes')"><span class="fa fa-twitter"></span></a></li>
        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
        <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
    </ul>
</div>
    