header .container .middle img:first-child {
    margin-bottom: 35px;
    padding: 0px;
}

.wine-veri li {
    margin-bottom: 0px;
    padding: 0px;
}
.product.attribute.overview .value p {
    font-size: 16px;
    color: #676767;
    font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';
    line-height: 1.7;
}
.login-form-outer .sign-btn-a button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    background: none;
    border: 0px solid;
    box-shadow: none;
    background: #343434 none repeat scroll 0 0;
    color: #fff;
    font-family: "Conv_AvenirLTStd-Light";
    font-size: 16px;
    text-transform: uppercase;
}

.login-form-outer .submit-btn-a button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    background: none;
    border: 0px solid;
    box-shadow: none;
    color: #fff;
    font-family: "Conv_AvenirLTStd-Light";
    font-size: 16px;
    text-transform: uppercase;
}    

/* start rajender style  */
.page-layout-home .banner_section .banner_text{overflow: inherit;}
.copyright_text p{font-size: 16px;}
.main_footer .middle_div ul li{margin: 0;}
.main_footer .end_div ul li{font-size: 16px;margin: 0;}
.main_footer .middle_div ul li a{color: #ffffff;font-size: 16px;}
footer .main_footer h3{ margin: 0; padding: 0; }
header .nav-sections{margin-bottom: 0;}
header .top .country_tag ul li select{ height: auto;background-size: auto;font-family: inherit; line-height: normal;}
.page-layout-category-layout .product-item-details a{font-size: 30px;color: #5c1e3f;margin-bottom: 0px; text-transform: uppercase;}
.page-layout-category-layout .product-item-details .price{font-size:30px;font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';font-weight: normal;}
.page-layout-category-layout .product-item-details .item-price .old-price .price{font-size: 18px;font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';font-weight: normal;}
header .top .menu-right ul li a.create_account{line-height: normal;}

.page-layout-product-layout .P-Right-outer h1{margin-bottom:0px;text-transform: capitalize;}
.page-layout-product-layout .add-padding-left .price{font-size:30px;font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';font-weight: normal;}
.page-layout-product-layout .add-padding-left .old-price .price{font-size: 18px;font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';font-weight: normal;}
.page-layout-product-layout .ab-item h6{ margin: 0; }
.page-layout-product-layout .ab-item ul li button{background: transparent;padding: 0;margin: 0;border: none;color: #000;font-size: 17px;}
.page-layout-product-layout .product-item .price-box{margin: 0;}
.page-layout-product-layout .product-item .item-price{margin-top: 0;line-height: 20px;}

.page-layout-product-layout .product-item .price-box .price {font-size: 20px;color: #5c1e3f;font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';font-weight: normal;}
.page-layout-product-layout .ab-item .old-price .price{font-size:18px;font-family: 'Conv_Avenir-LT-Std-55-Roman_5173';font-weight: normal;color: #313131 !important;}
.page-layout-product-layout .ab-item ul li a{color: #444;}
body.page-layout-home a#contentarea{ display: none; }
body.page-layout-home .banner_section .banner_text h2{font-weight: bold;}
.page-layout-product-layout .other-releted .ab-item{min-height: 125px;}

.page-layout-customer .block-new-customer {margin-bottom: 0;}
.page-layout-customer .block-new-customer .actions-toolbar{margin: 10px auto 0;display: inline-block;}
.page-layout-customer .login-form-outer .sign-btn-a a{padding: 17px 0;}
.page-layout-customer .block-new-customer .block-title{float: left;width: 100%; margin: 10px 0;font-size: 16px;}
.page-layout-customer .block-new-customer .action.primary{background: #5c1e3f;border: 1px solid #5c1e3f;}
.page-layout-customer .block-new-customer .action.primary:hover{background: #5c1e3f;border: 1px solid #5c1e3f;}

.quantity {
  position: relative;
}



.page-layout-product-layout .select-quantity input[type=number]
{
  -moz-appearance: textfield;
}

.page-layout-product-layout .select-quantity .quantity input:focus {
  outline: 0;
}

.page-layout-product-layout .select-quantity .quantity-nav {
  position: absolute;
  height: 30px;
  right: 18px;
}

.page-layout-product-layout .select-quantity .quantity-button {
  text-align: center;
  font-size: 13px;
}

.page-layout-product-layout .select-quantity .quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
}

.page-layout-product-layout .select-quantity .quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
/* close rajender style */